body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #eaf6f6 !important; */
}

.cont {
    display: flex;
    flex-direction: row;
    background-color: #F2EAD3;
    padding: 10px;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: scale(0.8); */
    zoom: 0.8;
}

.input-txt {
    padding: 8px;
    width: 550px;
    border-style: none;
    border-radius: 8px;
}

.profile {
    width: 200px;
    background-color: #EE6F57;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.img-prof {
    background-color: white;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin-top: 60px;
}

.form-input {
    padding: 10px;
}

.btn-submit {
    border-style: none;
    padding: 10px;
    background-color: #3CA64D;
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-cancel {
    border-style: none;
    padding: 10px;
    background-color: #B53B3B;
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-cont {
    text-align: right;
}

.error {
    color: red;
    font-size: 10px;
}

.cont-drop {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.prov-drop, .city-drop{
    border: 1px black;
    border-style: none  ;
    padding: 20px;
    border-radius: 8px;
    background-color: #8BBCCC;
    margin-top: 20px;
}

.prov-drop label, .city-drop label{
    margin-bottom: 30px;
}

.src-btn{
    margin-top: 20px;
    width: 100%;
    border-style: none;
    padding: 6px;
    border-radius: 8px;
    background-color: #06283D;
    color: white;
}

/* ====================================================================== css julius ============================================================== */

.box {
    background-color: #F2EAD3;
    padding: 10px;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    width: 106px;
    height: 15px;
    left: 25px;
    top: 22px;


    color: #000000;
}

.label {
    width: 24px;
    height: 15px;
    left: 36px;
    top: 82px;



    color: #000000;
}

.input {
    width: 652px;
    height: 26px;
    left: 159px;
    top: 76px;

    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input_drop {
    width: 660px;
    height: 26px;
    left: 159px;
    top: 76px;

    background: #FFFFFF;
    border-radius: 5px white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input_tanggal {
    width: 656px;
    height: 26px;
    left: 159px;
    top: 76px;

    background: #FFFFFF;
    border-radius: 5px white;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* =========================== CSS faqih ============================================= */

.flexbox-container {
    display: flex;
    margin: auto auto;
}

.flexbox-item {
    width: 170px;
    margin: 10px;
    border: 3px;
}

.text-center {
    margin: auto 10 auto 10;
    justify-content: center;
}

.flexbox-item-1 {
    min-height: 300px;
    border-radius: 8px !important;
    background-color: #EE6F57;
}

.flexbox-item-2 {
    /* min-height: 480px; */
    width: 100%;
}

.form-control {
    width: 400px;
    padding: 8px;
    border-width: 0px;
    border-radius: 50px;
}

.img-account-profile {
    margin-top: 40px;
    margin-left: 35px;
    height: 10rem;
}

.rounded-circle {
    width: 100px;
    height: 100px;
}

.card {
    /* box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); */
    border-right-width: 1px
}

.btn {
    background-color: blue;
    border-radius: 5px;
    border-style: none;
    width: 70%;
    color: white;
    padding: 10px;
    margin-left: 168%;
}


/* ===================== Style Gybran ============================================== */

article {
    margin: 20px;
    padding: 0;
    background-color: #ffffff;
}

article.detail {
    margin-top: 20px;
}

.container {
    padding: 0;
    /* box-shadow: ; */
}

.horizontal-center {
    margin: 0 auto;
}