body {
    background-color: #eaf6f6;
}

article {
    margin: 20px;
    padding: 0;
    background-color: #ffffff;
}

article.detail {
    margin-top: 20px;
}

.container {
    padding: 0;
    /* box-shadow: ; */
}

.horizontal-center {
    margin: 0 auto;
}

.prof-box{
    display: flex;
    background-color: white;
    /* width: 500px; */
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
}

.rounded{
    border-radius: 100000000px;
}